html, body {
	height: 100%;
}

body {
	margin: 0;
	background: #f8f8f8;
	font-family: sans-serif;
}

a {
	cursor: default;
}

.fa {
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
}

/* Button */

.btn {
	display: inline-block;
	border-radius: 3px;
	transition: all 0.1s;
	background: transparent;
	padding: 4px 8px;
	cursor: default;
	border: solid 1px transparent;
  	-webkit-user-select: none;
}

.btn:hover {
	background: white;
	border: solid 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.07);
}

.btn.icon {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	width: 32px;
	height: 32px;
}

.btn .fa {
	vertical-align: top;
}

.btn.icon .fa {
	opacity: 0.5;
	transition: all 0.1s;
}

.btn.icon:hover .fa {
	opacity: 1;
}

/* Main ui */

.browser--main-ui {
	display: flex;
	flex-direction: column;
	height: 100%;
	transition: opacity 1s;
	border: solid 1px #ebebeb;
	box-sizing: border-box;
}

.browser--main-ui.focus {
	border: solid 1px #ccc;
}

.browser--main-ui.maximized {
	border: none;
}

.browser--main-ui.hidden {
	opacity: 0;
}

.browser--toolbar {
	flex: auto 0 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: solid 1px #e2e2e2;
	background: #f8f8f8;
	z-index: 2;
}

.browser--toolbar > * {
	flex: auto 0 0;
}

.browser--toolbar > .extends {
	flex: auto 1 1;
	width: 100%;
}

.browser--toolbar > .separator{
	width: 1px;
	align-self: stretch;
	background: #ebebeb;
	margin: 0 3px;
}

.browser--favicon {
	position: relative;
}

.browser--favicon img {
	width: 16px;
	height: 16px;
	position: relative;
	z-index: 10;
}

.browser--favicon.no-favicon img {
	display: none;
}

.browser--favicon .fa {
	display: none;
	position: relative;
	z-index: 10;
}

.browser--favicon.no-favicon .fa {
	display: inline;
}

.browser--address-bar {
	position: relative;
}

.browser--url-input, .browser--address-bar-fake {
	font-size: 0.9em;
	padding: 12px 4px;
	display: block;
}

.browser--url-input {
	border: none;
	outline: none;
	background: none;
	width: 100%;
}

.browser--url-input.hidden {
	opacity: 0;
}

.browser--address-bar-fake {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	pointer-events: none;
	text-overflow: clip;
	white-space: nowrap;
	overflow: hidden;
}

.browser--address-bar-fake .dim {
	color: #ccc;
}

.browser--address-bar-fake.hidden {
	display: none;
}

.browser--toolbar .btn {
	/*border-radius: 100%;*/
	margin: 3px;
}

.browser--toolbar .btn:hover {
	box-shadow: none;
}

.browser--content {
	flex: auto 1 1;
	position: relative;
}

.browser--frame {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.browser--frame.dim {
	-webkit-filter: blur(10px);
}

.browser--frame iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	border: none;
	visibility: hidden;
}

.browser--frame iframe.current {
	visibility: visible;
}

/* Loading animation */

@-webkit-keyframes loadingAnimation {
	from { 
		transform: scale(0);
		opacity: 0.5;
	}
	to {
		transform: scale(1);
		opacity: 0;
	}
}

.loading-animation {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: #666;
	border-radius: 100%;
	-webkit-animation: loadingAnimation 1.5s ease-out infinite;
}

.browser--favicon .loading-animation {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	transition: opacity 0.3s, display 0s;
}

.browser--favicon .loading-animation.hidden {
	opacity: 0;
	display: none;
	transition: opacity 0.3s, display 0.3s;
}

/* Launchpad */

.browser--launchpad {
	flex: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255, 255, 255, 0.9);
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 100%);
	transition: none;
	display: flex;
	flex-direction: column;
}

.browser--launchpad.hidden {
	opacity: 0;
	pointer-events: none;
	transition: all 0.1s;
}

.browser--launchpad .content {
	overflow: auto;
	padding: 0 12px;
	flex: auto 1 1;
}

.browser--launchpad .close-zone {
	font-size: 0.7em;
	color: #aaa;
	padding: 10px;
	margin-bottom: -6px;
	z-index: 9;
	text-align: center;
	cursor: default;
	transition: all 0.1s;
	flex: auto 0 0;
}

.browser--launchpad .close-zone:hover {
	color: #333;
}

.browser--launchpad h1 {
	font-size: 1.3em;
	font-weight: 300;
	padding: 0 8px;
	margin: 10px 0 8px 0;
}

.browser--launchpad h1:first-child {
	margin-top: 0;
}

.browser--launchpad h1 .title .fa {
	margin-right: 10px;
	opacity: 0.75;
}

.browser--launchpad h1 a {
	color: #999;
	display: inline-block;
	margin-left: 4px;
	padding: 4px;
	transition: all 0.1s;
}

.browser--launchpad h1 a:hover {
	color: #333;
}

.browser--launchpad .box {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: solid 1px rgba(238, 238, 238, 0.5);
}

.browser--launchpad .box a {
	display: inline-block;
	width: 170px;
	margin: 2px;
	padding: 10px 0 10px 36px;
	font-size: 0.8em;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.browser--launchpad .box a .favicon {
	position: absolute;
	left: 4px;
	top: 4px;
	border-radius: 100%;
	border: solid 1px #f0f0f0;
	display: inline-block;
	width: 25px;
	height: 25px;
	vertical-align: middle;
	transition: all 0.1s;
}

.browser--launchpad .box a:hover .favicon {
	border: solid 1px rgba(240, 240, 240, 0);
}

.browser--launchpad .box a .favicon > * {
	width: 16px;
	height: 16px;
	position: relative;
	top: 5px;
	left: 5px;
}

.browser--launchpad .box a .favicon > .fa {
	opacity: 0.5;
	top: 6px;
	left: 7px;
}

.browser--launchpad .box.links a .favicon > .fa {
	font-size: 1.4em;
	top: 4px;
	left: 5px;
}

.browser--launchpad .browser--toolbar {
	border-top: solid 1px #e2e2e2;
	background: rgba(248, 248, 248, 0.47);
}

.browser--launchpad .box a .info {
	color: #999;
}

.browser--launchpad .box a .progress-bar {
	position: absolute;
	bottom: 5px;
	left: 10px;
	right: 10px;
	width: auto !important;
}

.browser--launchpad .box a.progress .favicon {
	border: none;
}

.progress-bar {
	width: 100%;
	height: 2px;
	background: #ccc;
}

.progress-bar > .bar {
	height: 100%;
	background: #666;
}

/* Tabs */

.browser--tab-bar {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	position: relative;
	-webkit-app-region: drag;
  	-webkit-user-select: none;
}

.browser--tab-bar .border {
	flex: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-bottom: solid 1px #e2e2e2;
	z-index: 1;
	pointer-events: none;
}

@-webkit-keyframes tabOpenAnimation {
	from { 
		width: 0;
	}
	to {
		width: 200px;
	}
}

.browser--tab {
	flex: auto 0 1;
	width: 200px;
	height: 30px;
	padding: 0 4px;
	margin-right: -1px;
	background: transparent;
	border-top: solid 1px #e2e2e2;
	border-left: solid 1px #e2e2e2;
	border-right: solid 1px #e2e2e2;
	cursor: default;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transition: all 0.3s;
	color: #888;
	overflow: hidden;
	box-sizing: border-box;
	-webkit-animation: tabOpenAnimation 0.3s ease-out 1;
	-webkit-app-region: no-drag;
}

.browser--tab:hover {
	background: white;
}

.browser--tab.selected {
	background: #f8f8f8;
	border-top: solid 1px #555;
	z-index: 999;
	color: black;
}

.browser--tab.pinned {
	flex: auto 0 0;
	width: 30px;
	-webkit-animation: none;
}

.browser--tab.closed {
	width: 0 !important;
	opacity: 0;
	transition: width 0.3s, opacity 0.3s;
}

.browser--tab .no-favicon {
	position: relative;
	left: 1px;
}

.browser--tab .title {
	font-size: 0.8em;
	flex: auto 1 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.browser--tab.pinned .title {
	display: none;
}

.browser--tab .browser--favicon {
	width: 16px;
	height: 16px;
	margin-right: 4px;
	flex: auto 0 0;
	opacity: 0.5;
	transition: opacity 0.3s;
}

.browser--tab.selected .browser--favicon {
	opacity: 1;
}

.browser--tab.pinned .browser--favicon {
	margin-right: 0;
}

.browser--tab-bar > .btn.icon {
	width: 28px;
	height: 28px;
	flex: auto 0 0;
	margin-left: 1px;
	-webkit-app-region: no-drag;
}

.browser--tab .btn.icon {
	flex: auto 0 0;
	width: 16px;
	height: 16px;
}

.browser--tab .btn.close {
	display: none;
}

.browser--tab.selected .btn.close {
	display: flex;
}

.browser--tab.pinned .btn.close {
	display: none !important;
}

.browser--tab .loading-animation {
	top: -8px;
	left: -8px;
}

/* Window */

.window--title-bar {
	-webkit-app-region: drag;
  	-webkit-user-select: none;
	height: 16px;
	width: 100%;
	flex: auto 0 0;
}

.window--controls {
	flex: none;
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.window--controls > .btn {
	-webkit-app-region: no-drag;
}

.window--controls > .btn.icon {
	height: 16px;
	font-size: 0.9em;
	border-radius: 0;
	opacity: 0.75;
}

.browser--main-ui.focus .window--controls > .btn.icon {
	opacity: 1;
}

.window--controls > .btn.icon:hover {
	background: #82c0f5;
	opacity: 1;
}

.browser--main-ui.focus .window--controls > .btn.icon.close {
	background: rgba(245, 130, 130, 0.43);
}

.window--controls > .btn.icon.close:hover {
	background: #f58282 !important;
}