body {
    margin: 0;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-weight: normal;
    margin-bottom: 20px;
}

p {
    margin: 42px;
}

p.info {
    color: #777;
}

p.hero {
    color: #555;
    font-size: 1.5em;
}

hr {
    border: none;
    border-bottom: solid 1px #e8e8e8;
}